@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  scroll-behavior: smooth;
  
}
nav a:hover{
  color:blueviolet ;
}
.name{
  font-family:"Dancing Script", cursive;
}
.skills-block div{
  cursor: pointer;

}
.skills-block div:hover{
  transform:translateY(-10px);
}